terraform.tfstate
terraform.tfstate.*
.terraform.backup.*

.terraform
.terraform.lock.hcl
.terraform.tfstate
terraform.tfstate.*
.terraform.backup
.terraform.backup.lock.info
.terraform.backup.lock.info.backup
.terraform.backup.lock.info.backup.backup
.terraform.backup.lock.info.backup.backup.backup
.terraform.backup.lock.info.backup.backup.backup.backup
.terraform.backup.lock.info.backup.backup.backup.backup.backup
.terraform.backup.lock.info.backup.backup.backup.backup.backup.backup
.terraform.backup.lock.info.backup.backup.backup.backup.backup.backup.backup
.terraform.backup.lock.info.backup.backup.backup.backup.backup.backup.backup.backup

lambda/*
.opensearch_collection.txt
.website_info.txt